@model IEnumerable<RAD302s00130207.Models.Movies>
<script src="https://maps.googleapis.com/maps/api/js?
          AIzaSyCeLQfcodL65L8ksriSPG91Xwvv_87AA_Q&sensor=false"></script>


<script>
    var geocoder;
    var map;
    $(function () {
        $('table tr').click(function () {
            var id = this.id;
            $.ajax({
                type: "GET",
                //url: '/api/ord/getordaddr/' + id,
                url: '/api/Movies/GetMovies/' + id,
                contentType: "text/plain; charset-utf-8",
                data: id,
                dataType: "json",
                success: function (data) {
                    //display it
                    $('#ordaddr').empty().append(data.MovieTitle + '<br>').append(data.MovieCountry);
                    geocodeLookup(JSON.stringify(data.MovieCountry));
                }
            });
        }
        ); //end click event handler
        google.maps.event.addDomListener(window, 'load', initialize);
        geocoder = new google.maps.Geocoder();
    }); //end ready()
   
    function geocodeLookup(address) {
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    
    

    

    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var mapOptions = {
            zoom: 4,
            center: latlng
        }
        map = new google.maps.Map(document.getElementById('gmap'), mapOptions);
    }
    

</script>
<div class="jumbotron">
    <h1>RAD302</h1>
    <p class="lead">Movie database by Pavlo Lysak (s00130207)</p>
   
</div>



@*Custom search bar, search over imdb.com

    <div><script>
        (function () {
            var cx = '012625075946676838028:5urqqg4wloo';
            var gcse = document.createElement('script');
            gcse.type = data.MovieTitle;
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();


    </script>*@

<gcse:search></gcse:search></div>


<div class="row">
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">Movies</div>
            <div class="panel-body" style="overflow-x: hidden;
            height:480px">
                <table class="table-striped table-condensed" id="ordtbl">

                    @foreach (var item in Model)
                    {
                        //<tr style="cursor:pointer" id="@item.OrderID"><td>@item.OrderID</td></tr>
                        <tr style="cursor:pointer" id="@item.MovieId"><td>@item.MovieTitle</td></tr>
                    }

                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4">
     <div class="panel panel-primary">
         <div class="panel-heading">Country</div>
         <div class="panel-body" id="ordaddr"></div>
     </div>
    </div>
    <div class="col-md-6">
        <div id="gmap" style="width: 500px; height: 500px"></div>
    </div>
    
</div>

